  /* Doctor Profile Page */
  .bg-DoctorProfile{ 
    background-Image: url('/public/img/doctor_profile.jpg');
    background-size: cover ; 
  }
  .doctor-profile-body{
    margin-top: 90px;
  }

  input:focus {
    box-shadow: none !important;
  }
  
  
  /* User Profile And Update-info , Header and Footer */
  
  .profile-bg {
    background-color: rgb(206, 232, 251);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10px; 
    margin-top:130px ;
  }
  
  
  /* profile page */
  .mp{
    margin-top: 120px;
  }
  
  .ProfileInformation-H{
    background-color: rgb(7, 87, 161);

  }

  .medical-h{
    max-height: 675px;
  }

  .warning-delete{
    color: rgb(137, 12, 12);
    font-size: 9px;
    text-align: center;
    margin: auto;
  }